{
    "env": {
        "browser": true,
        "es6": true,
        "es2017": true
    },
    "root": true,
    "extends": [
        "react-app",
        "prettier",
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/typescript",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json",
        "tsconfigRootDir": "."
    },
    "plugins": ["@typescript-eslint", "prettier", "import"],
    "rules": {
        "@typescript-eslint/ban-ts-comment": ["off", "always"],
        "@typescript-eslint/prefer-regexp-exec": ["off", "always"], 
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    }
}
